<div class="progress-bar bg-@Color.Name @Class @Striped() @Animate()" role="progressbar" style="height:@(Height + "px"); width: @(ValueNow+"%");" aria-valuenow="@ValueNow" aria-valuemin="0" aria-valuemax="@ValueMax" @attributes="@AdditionalAttributes">@ChildContent</div>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    /// <summary>
    /// Current value
    /// </summary>
    [Parameter] public float ValueNow { get; set; } = 50;
    /// <summary>
    /// Maximum value
    /// </summary>
    [Parameter] public float ValueMax { get; set; } = 100;
    /// <summary>
    /// Height of the progress bar
    /// </summary>
    [Parameter] public float Height { get; set; } = 16;
    /// <summary>
    /// Css Class
    /// </summary>
    [Parameter] public string? Class { get; set; }
    /// <summary>
    /// Color of progress bar
    /// </summary>
    [Parameter] public Color Color { get; set; } = Color.Primary;
    /// <summary>
    /// Striped
    /// </summary>
    [Parameter] public bool IsStriped { get; set; }
    /// <summary>
    /// Animate
    /// </summary>
    [Parameter] public bool IsAnimate { get; set; }
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string Striped()
    {
        if (IsStriped)
        {
            return "progress-bar-striped";
        }
        return string.Empty;
    }

    private string Animate()
    {
        if (IsAnimate)
        {
            return "progress-bar-animated";
        }
        return string.Empty;
    }
}
