@using System.Globalization

<div class="event-calendar-week-view-wrapper">
    <div Class="px-2 py-3 d-flex align-items-center justify-content-between">
        <div>
            <h6>
                @weekStart.ToLongDateString() - @weekEnd.ToLongDateString()
            </h6>
        </div>
        <div Class="d-flex align-item-center gap-2 justify-content-end">
            <button type="button" class="btn btn-light" @onclick="() => { CurrentWeek(); }">Today</button>
            <button type="button" class="btn btn-light" @onclick="() => { PreviousWeek(); }"><i class="bi bi-arrow-left"></i></button>
            <button type="button" class="btn btn-light" @onclick="() => { NextWeek(); }"><i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="event-calendar-week-view">
        <div class="time"></div>
        @for (int i = 0; i < 7; i++)
        {
            var day = weekStart.AddDays(i);

            <div class="schedule fw-bold @(day.Date == DateTime.Today.Date ? "active" : "")">
                @day.ToString("ddd")
                <h6>@(day.ToString("dd'/'MM"))</h6>
            </div>
        }
        @if (Time.List() != null)
        {
            @foreach (var slot in Time.List().OrderBy(x => x.Value))
            {
                <div class="time">@slot.Name</div>

                @for (int i = 0; i < 7; i++)
                {
                    var currentDate = weekStart.AddDays(i);

                    bool isToday =
                        currentDate.Date == DateTime.Today.Date;

                    bool isCurrentTime =
                        isToday &&
                        TimeOnly.FromDateTime(
                            RoundUp(DateTime.Now, TimeSpan.FromMinutes(30)))
                        .ToString("hh:mm tt") == slot.Name;

                    <div class="schedule @(isToday ? "active" : "") @(isCurrentTime ? "current-time" : "")">

                        @foreach (var ev in Events.Where(x =>
                            x.Date.ToLocalTime().Date == currentDate.Date &&
                            TimeOnly.FromDateTime(x.Date.ToLocalTime()).ToString("hh:mm tt") == slot.Name))
                        {
                            <div class="event" style="background:@ev.Color">
                                @ev.Title
                            </div>
                        }

                    </div>
                }
            }
        }
    </div>
</div>

@code {
    [Parameter] public List<CalendarEvent> Events { get; set; } = new();
    [Parameter] public DateTime Date { get; set; } = DateTime.Today;

    private DateTime weekStart;
    private DateTime weekEnd;

    protected override void OnInitialized()
    {
        CreateWeek(DateTime.Today);
    }

    private void CreateWeek(DateTime date)
    {
        weekStart = date.AddDays(-(int)date.DayOfWeek).Date;
        weekEnd = weekStart.AddDays(6);
    }
    private void NextWeek()
    {
        weekStart = weekStart.AddDays(7);
        weekEnd = weekEnd.AddDays(7);
    }

    private void PreviousWeek()
    {
        weekStart = weekStart.AddDays(-7);
        weekEnd = weekEnd.AddDays(-7);
    }

    private void CurrentWeek()
    {
        CreateWeek(DateTime.Today);
    }

    DateTime RoundUp(DateTime dt, TimeSpan d)
    {
        return new DateTime((dt.Ticks + d.Ticks - 1) / d.Ticks * d.Ticks, dt.Kind);
    }
    // void CreateWeek()
    // {
    //     var tempDate = DateTime.Now.AddDays(0).Date;
    //     var month = tempDate.Month;
    //     var year = tempDate.Year;

    //     System.Globalization.Calendar calendar = CultureInfo.CurrentCulture.Calendar;

    //     IEnumerable<int> daysInMonth = Enumerable.Range(1, calendar.GetDaysInMonth(year, month));

    //     var weeks = daysInMonth.Select(day => new DateTime(year, month, day))
    //      .GroupBy(d => calendar.GetWeekOfYear(d, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Sunday))
    //      .Select(g => new Tuple<DateTime, DateTime>(g.First(), g.Last()))
    //      .ToList();

    //     var w = weeks.Where(a => a.Item1 <= tempDate && a.Item2 >= tempDate).FirstOrDefault()!;

    //     sunday = w.Item1.Date;
    //     saturday = w.Item2.Date;
    // }

    static readonly string[] DaysOfWeek =
        CultureInfo.CurrentCulture.DateTimeFormat.DayNames;
}
