<li class="nav-item" role="presentation" @attributes="@AdditionalAttributes">
    <button class="nav-link @IsActive()" id="@ID" data-bs-toggle="@IsToggle()" data-bs-target="@TargetID" type="button" role="tab" aria-controls="@TargetID" aria-selected="false">@Name</button>
</li>
@code {
    [Parameter] public string? ID { get; set; }
    [Parameter] public string? TargetID { get; set; }
    [Parameter] public string Toggle { get; set; } = "tab";
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Name { get; set; } = "New Tab";
    [Parameter] public bool Vertical { get; set; } = false;
    [Parameter] public bool Active { get; set; } = false;

    [Parameter] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string IsActive()
    {
        if (Active)
        {
            return "active";
        }
        return string.Empty;
    }

    private string IsToggle()
    {
        if (!string.IsNullOrEmpty(Toggle))
        {
            switch (Toggle.ToLower())
            {
                case "tab":
                    return "tab";
                case "pill":
                    return "pill";
            }
        }
        return "tab";
    }
}
