@if (Visible)
{
    <div class="card @(BackgroundColor != Color.None ? "bg-"+ BackgroundColor.Name : string.Empty) @(TextColor != Color.None ? "text-"+TextColor.Name : string.Empty) shadow-@Shadow.Name @Class">
        @if (HeaderContent is not null)
        {
            <div class="card-header">@HeaderContent</div>
        }
        <div class="card-body">@BodyContent</div>
        @if (FooterContent is not null)
        {
            <div class="card-footer">@FooterContent</div>
        }
    </div>
}
@code {
    [Parameter] public RenderFragment? BodyContent { get; set; }
    [Parameter] public RenderFragment? FooterContent { get; set; }
    [Parameter] public RenderFragment? HeaderContent { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public Color BackgroundColor { get; set; } = Color.None;
    [Parameter] public Color TextColor { get; set; } = Color.None;
    [Parameter] public ShadowSize Shadow { get; set; } = ShadowSize.None;
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool ShowFooter { get; set; } = false;
    [Parameter] public bool ShowHeader { get; set; } = false;
}
