@using Microsoft.AspNetCore.Components.Routing

<li class="nav-item @CssClass">
    <NavLink class="nav-link" href="@Link" Match="NavLinkMatch.Prefix">
        <i class="@Icon"></i>
    </NavLink>
    <ul class="no-menu @IsShowSubMenu()">
        <li>@LinkTitle</li>
    </ul>
</li>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; }
    [Parameter] public string LinkTitle { get; set; }
    [Parameter] public string Link { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public bool ShowSubMenu { get; set; } = true;

    string IsShowSubMenu()
    {
        if (ShowSubMenu == false)
            return "collapse";
        return string.Empty;
    }
}